name: Build, Test and Publish Docker Image

on:
  workflow_call:
    inputs:
      dockerhub-username:
        required: true
        type: string
      dockerhub-password:
        required: true
        type: string
      image-name:
        required: true
        type: string
      build-context:
        required: false
        type: string
        default: '.'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Node.js Build and Test
        uses: ./.github/actions/node-build-test
        with:
          node-version: ${{ inputs.node-version || '20' }}

  publish-docker:
    runs-on: ubuntu-latest
    needs: build-and-test
    steps:
      - name: Publish Docker Image
        uses: ./.github/actions/docker-publish
        with:
          dockerhub-username: ${{ inputs.dockerhub-username }}
          dockerhub-password: ${{ inputs.dockerhub-password }}
          image-name: ${{ inputs.image-name }}
          build-context: ${{ inputs.build-context }}
