name: Node.js Reusable Workflow

on:
  workflow_call:
    inputs:
      run_lint:
        required: false
        type: boolean
        default: true
      run_test:
        required: false
        type: boolean
        default: true
      node-version:
        required: false
        type: string
        default: '20'

jobs:
  quality-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Node.js Build and Test
        uses: ./.github/actions/node-build-test
        with:
          node-version: ${{ inputs.node-version }}
          run-lint: ${{ inputs.run_lint }}
          run-test: ${{ inputs.run_test }}
