name: Node.js Reusable Workflow

on:
  workflow_call:
    inputs:
      run_lint:
        required: false
        type: boolean
        default: true
      run_test:
        required: false
        type: boolean
        default: true
      node-version:
        required: false
        type: string
        default: '20'

jobs:
  quality-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          cache: 'npm'

      - name: Instalar dependências
        run: npm ci

      - name: Rodar ESLint
        if: ${{ inputs.run_lint }}
        run: npx eslint .

      - name: Rodar testes
        if: ${{ inputs.run_test }}
        run: npm test

      - name: Build do projeto
        if: ${{ inputs.run_build }}
        run: npm run build
